In [4]:
# There are two diferent types of numbers we have integers, and floating point numbers. Integers are hole numbers,
#flaoting point nubmer have a decimal point and integers do not.

In [5]:
# A string is a string of letters, all strings can be signified with double or single quotes.

In [3]:
# A lists is a group of item separated by commas, it can hold different data types and are signified by square 
# brackets

In [6]:
# A Tuple is like a string exept the items in the tuple cannot be changed. Tuples are signified with parathesis 
# insted are square brackets.

In [7]:
# Dictionaries are like lists but store data in a key: value format so you can call values based on its key. 
# Dicionaries can hold different data types and separates by commas and there is a colon beetween the key nad value.

In [69]:
0.25+100/2-1 + 51**2/51

100.25

In [ ]:
1. 44

In [ ]:
2. 29

In [ ]:
3. 34

In [13]:
# The type result of 3 + 1.5 + 4 is going to be a floating point number,8.5.

In [14]:
# you would use two * signs two square a number. 
2**2

4

In [17]:
# You can still use two * sign two find the square root, but you have to have a 0.5 after the two * signs.
49**0.5

7.0

In [18]:
# Given s = 'hello', doing s[1] will give you 'e'.
s = 'hello'
s[1]

'e'

In [24]:
# you can spell 'hello'backwards by doing s[4:5], s[3:4],s[2:3], s[1:2],s[0:1]. 
s[4:5], s[3:4],s[2:3], s[1:2],s[0:1]

('o', 'l', 'l', 'e', 'h')

In [25]:
# There are two ways that you can get the letter 'o' out of 'hello'.

In [26]:
# method number 1
s[4]

'o'

In [27]:
# method number 2
s[4:5]

'o'

In [28]:
# I can build te list [0,0,0] in two different ways.

In [29]:
# Method number 1
[0,0,0]

[0, 0, 0]

In [31]:
# method number 2
r = 0 
[r,r,r]

[0, 0, 0]

In [32]:
[0, 0.0,'zero']

[0, 0.0, 'zero']

In [34]:
#I will reasign 'hello'to say goodbye.
list3 = [1,2,[3,4,'hello']]
list3[2][2] = 'goodbye'

In [35]:
list3[2][2]

'goodbye'

In [36]:
list3

[1, 2, [3, 4, 'goodbye']]

In [40]:
# YOu can you the order function to reorder number or letters. 
list4 = [5,3,4,6,1]
list4.sort()

In [41]:
list4

[1, 3, 4, 5, 6]

In [42]:
# you can grab 'hello' based on it's key.
d = {'simple_key':'hello'}
d['simple_key']

'hello'

In [43]:
t = {'k1':{'k2':'hello'}}
# Grab 'hello'
t['k1']['k2']

'hello'

In [48]:
# Getting a little tricker
f = {'k1':[{'nest_key':['this is deep',['hello']]}]}
#Grab hello
f['k1'][0]['nest_key'][1]

['hello']

In [57]:
# This will be hard and annoying!
k = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
#Grab Hello
k['k1'][2]['k2'][1]['tough'][2]

['hello']

In [58]:
# The major difference between a list and a tuple is immutability. While items in a list can be changes. In a tuple
# they cannot.

In [59]:
# A tuple looks no different from a list exept it has parenthesis instead of square brackets surrounding the items
# separated by commas. 

r = (1,2,3,4,5,6,7,8,9,10)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
# The thing that is unique about a set is that all the items in the set are unique. The set does not count items 
# more than once. If an item occurs more than once it is only counted once.

In [61]:
# you can put lists into set format by doing set(),

list5 = [1,2,2,33,4,4,11,22,3,3,2]
set(list5)

{1, 2, 3, 4, 11, 22, 33}

In [62]:
2>3
#False

False

In [63]:
3<= 2
# False

False

In [64]:
3 == 2.0
#False

False

In [65]:
3.0 == 3
# True

True

In [66]:
4**0.5 != 2
#False

False

In [67]:

# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']
# False

False

In [70]:
s[: : -1]

'olleh'